* {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}
.a {
  text-decoration: none !important;
}
.a:hover {
  color: white !important;
}
.underline {
  width: 20%;
  height: 5px;
  margin: 0 auto;
  background-color: green;
}
